.btn-success {
    color: #FFF;
    background-color: #2572b7;
    border-color: #fff;
    border-right-width: 0px;
    border-bottom-width: 0px;
   
}
  .btn .icon, .btn .fa {
    font-size: 100px;
    margin-right: 150px;
    vertical-align: middle;
    -webkit-box-align: center;
    text-align: center;
   }
   .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: 11px;
    margin-bottom: 5px;
}
.logo_login{
  width: 215px;
 
  padding: 0px;

}
logo_login-1{ 
  width: 115px;
 
  padding: 0px;

}